<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Converter</title>
</head>
<body>
    <h1>Convertir Video de YouTube</h1>
    <form id="convertForm" method="POST" action="/convert">
        <label for="url">URL del video:</label>
        <input type="text" id="url" name="url" required><br><br>

        <label for="download_type">Tipo de descarga:</label>
        <select id="download_type" name="download_type" required>
            <option value="audio">Solo audio</option>
            <option value="video">Video</option>
        </select><br><br>

        <label for="quality">Calidad del video:</label>
        <select id="quality" name="quality">
            <option value="best">Mejor calidad</option>
            <option value="360">360p</option>
            <option value="480">480p</option>
            <option value="720">720p</option>
        </select><br><br>

        <button type="submit">Convertir</button>
    </form>

    <div id="status"></div>

    <script>
        document.getElementById("convertForm").addEventListener("submit", function(event) {
            event.preventDefault();

            const url = document.getElementById("url").value;
            const downloadType = document.getElementById("download_type").value;
            const quality = document.getElementById("quality").value;

            const formData = new FormData();
            formData.append("url", url);
            formData.append("download_type", downloadType);
            formData.append("quality", quality);

            fetch("/convert", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.task_id) {
                    checkStatus(data.task_id);
                } else {
                    document.getElementById("status").innerText = "Error: " + data.error;
                }
            });
        });

        function checkStatus(taskId) {
            const statusInterval = setInterval(() => {
                fetch(`/status/${taskId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "finished") {
                            clearInterval(statusInterval);
                            document.getElementById("status").innerHTML = `Video listo para descargar: <a href="${data.download_url}">Descargar</a>`;
                        } else {
                            document.getElementById("status").innerText = `Progreso: ${data.progress}`;
                        }
                    });
            }, 2000);
        }
    </script>
</body>
</html>
